@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
header nav ul{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header h1{
    text-align: left;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 1rem;  
}
nav a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
main{
    font-family: 'Montserrat', sans-serif;
}
.imgdoshas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 0.2fr
}
section div h3{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
section div img{
    background-color: aquamarine;
    background-size: cover;
}
/*.terapias{
    background-image: url(imagenes/terapia.jpg);
    background-position: left;
    background-size: 200px 300px;
    background-repeat: no-repeat;
    margin-left: 50px;
}*/
.terapias{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "h2 h2"
        "img ul"
        "img ul";
}
.terapias h2{
    width: 600px;
    padding-left: 60px;
    margin-left: 350px;
}
.terapias ul{
    width: 600px;
    padding-left: 60px;
    margin-left: 350px;
}
.infogral{
    background-color: lawngreen;
    width: 200px;
    background-image: url(imagenes/general.jpg);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.infogral h2{
    width: 600px;
    padding-left: 60px;
    margin-left: 350px;
}
.infogral h3{
    width: 600px;
    padding-left: 60px;
    margin-left: 350px;
}
.infogral p{
    width: 600px;
    padding-left: 60px;
    margin-left: 350px;
}
footer{
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
}
footer a{
    text-decoration: none;
    color: black;
}
footer h3{
    margin-left: 500px;
}
footer p{
    margin-left: 500px;
}
iframe{
    margin-left: 500px;
}
footer ul{
    margin-top: 50px;
}
.contacto{
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine;
    width: 100px;
} 